 body { font-family: Arial, sans-serif; 
            text-align: center; } 
    /* img { width: 400px; border-radius: 10px; }  */
    .media {display: flex;
            flex-direction: column;
            align-items:center;
            gap:20px}
    img {width:560px;
        height: auto;}
    /* iframe {width} */
    /* .alter_text {
                
    } */